@import '~@standardnotes/stylekit/dist/stylekit.css';

:root {
  --sn-stylekit-font-size-editor: 16px;
  --sn-stylekit-monospace-font: SFMono-Regular, Consolas, Liberation Mono, Menlo,
    'Ubuntu Mono', courier, monospace;
}

@media screen and (max-width: 650px) {
  :root {
    --sn-stylekit-font-size-editor: 18px;
  }
  h1 {
    font-size: 1.75em; // is usually 2em
  }
}

body,
html {
  background-color: transparent;
  background-color: var(--sn-stylekit-background-color);
  font-family: var(--sn-stylekit-sans-serif-font);
  font-size: var(--sn-stylekit-base-font-size);
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

* {
  // To prevent gray flash when focusing input on mobile Safari
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.hidden {
  display: none;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
}

.viewer {
  padding: 0 25px;
}

.toastui-editor-defaultUI {
  border: 0;
}

.toastui-editor-defaultUI-toolbar,
.toastui-editor-dropdown-toolbar {
  background-color: var(--sn-stylekit-secondary-background-color);
}

.toastui-editor-mode-switch {
  background-color: var(--sn-stylekit-background-color);

  .tab-item {
    background-color: var(--sn-stylekit-secondary-background-color);
  }

  .tab-item.active {
    background-color: var(--sn-stylekit-background-color);
    color: var(--sn-stylekit-paragraph-text-color);
  }
}

.ProseMirror,
.toastui-editor-contents {
  font-size: var(--sn-stylekit-font-size-editor);
  color: var(--sn-stylekit-paragraph-text-color);
}

.ProseMirror {
  .toastui-editor-md-table-cell {
    color: var(--sn-stylekit-paragraph-text-color);
  }

  .toastui-editor-md-code,
  .toastui-editor-md-code-block-line-background {
    background-color: var(--sn-stylekit-contrast-background-color);
  }
}

.toastui-editor-contents {
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--sn-stylekit-paragraph-text-color);
  }

  h1,
  h2 {
    border-color: var(--sn-stylekit-paragraph-text-color);
  }

  pre,
  code {
    background-color: var(--sn-stylekit-contrast-background-color);
  }

  table,
  table th,
  table td {
    border-color: var(--sn-stylekit-border-color);
  }

  table td,
  table td p {
    color: var(--sn-stylekit-paragraph-text-color);
  }

  a {
    color: var(--sn-stylekit-info-color); // #086dd6;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  code {
    box-sizing: border-box;
    word-wrap: break-word;
    padding: 0.2em 0.4em;
    margin: 0;
    font-size: 85%;
    border-radius: 3px;
  }

  p {
    padding: 0px 1em;
  }
}

.toastui-editor-ww-container {
  background-color: var(--sn-stylekit-editor-background-color);
  color: var(--sn-stylekit-editor-foreground-color);
}

@import './dark.scss';
